*node_modules

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

*-lock.json

# vitepress build output
**/.vitepress/dist

# vitepress cache directory
**/.vitepress/cache